package components

templ InputNumber(
	label string,
	value string,
	name string,
	id string,
	required bool,
	disabled bool,
	readonly bool,
	autofocus bool,
	placeholder string,
	classes []string,
) {
	<label for="username">{ label }</label>
	<input type="number" class="border-2 rounded border-rose-500 p-2"/>
}
