package public

import "pioneerwebworks.com/juniper/models"

templ Post(post models.Post) {
	<article>
		<header>
			<h1>{ post.Title }</h1>
			<p>{ post.CreatedAt.Format("Mon Jan 2 15:04:05 MST 2006") }</p>
		</header>
		<hr/>
		<main>
			<p>{ post.Content }</p>
		</main>
	</article>
}
